
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473602406'); /* IE9*/
  src: url('iconfont.eot?t=1473602406#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473602406') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473602406') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473602406#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-roundclosefill:before { content: "\e600"; }
.icon-search:before { content: "\e601"; }
.icon-deliver:before { content: "\e602"; }
.icon-evaluate:before { content: "\e608"; }
.icon-pay:before { content: "\e609"; }
.icon-send:before { content: "\e60a"; }
.icon-wang:before { content: "\e60e"; }
.icon-back:before { content: "\e60b"; }
.icon-more:before { content: "\e603"; }
.icon-top:before { content: "\e604"; }
.icon-right:before { content: "\e60c"; }
.icon-refund:before { content: "\e60d"; }
.icon-cart:before { content: "\e605"; }
.icon-home:before { content: "\e606"; }
.icon-fold:before { content: "\e613"; }
.icon-jipiao:before { content: "\e60f"; }
.icon-caipiao:before { content: "\e610"; }
.icon-up:before { content: "\e615"; }
.icon-my:before { content: "\e607"; }
.icon-zhifubao:before { content: "\e611"; }
.icon-text:before { content: "\e612"; }
.icon-down:before { content: "\e616"; }
.icon-up1:before { content: "\e617"; }
